.main-bg {
    background: linear-gradient(239.43deg,
    rgba(90, 0, 104, 0.2) -3%,
    rgba(255, 67, 42, 0.2) 8.91%,
    rgba(224, 67, 73, 0.2) 22.22%,
    rgba(42, 63, 255, 0.2) 79.62%,
    rgba(0, 2, 53, 0.2) 100%);
}

.post-card {
    background: linear-gradient(101.64deg, #361A70 29.88%, rgba(54, 26, 112, 0) 110.04%);
    filter: drop-shadow(0px 0px 2px rgba(218, 96, 98, 0.1));
    border-radius: 10px;
}

.post-card__tag {

}

.post-card__tag-text {
    text-transform: uppercase;
    font-family: openSansSemiBold, serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0;
    text-align: center;
    color: #fff;
}


.post-card__title {

    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.post-card__subtitle {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}


.page-button__text {
    background: linear-gradient(231.56deg, #5A0068 0%, #FF432A 11.56%, #E04349 24.48%, #2A3FFF 80.21%, #000235 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.page-number {
    border-color: transparent;
    outline: none;
}

.page-number.active, .page-number:hover {
    background: linear-gradient(231.56deg, #5A0068 0%, #FF432A 11.56%, #E04349 24.48%, #2A3FFF 80.21%, #000235 100%);
}