.latest-blog {
    background: #000235;
}

.latest-blog__heading {
    letter-spacing: 0;
    text-transform: uppercase;
    background: linear-gradient(231.56deg, #5A0068 0%, #FF432A 11.56%, #E04349 24.48%, #2A3FFF 80.21%, #000235 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blog-card__title {
    letter-spacing: 2px;
    text-transform: uppercase;
    background: linear-gradient(231.56deg, #5A0068 0%, #FF432A 11.56%, #E04349 24.48%, #2A3FFF 80.21%, #000235 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

.blog-card__subtitle {
    letter-spacing: 0;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;

}